<html lang="fr_FR">
<header>
    <title>Fiches</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/general.css">
</header>

<body>

<div class="container">
    <div class="row">
        <div class="col-md text-center">
            <h1>Fiches</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Recherche :</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Nom</th>
                        </tr>
                        </thead>
                        <tbody id>
                        <%
                        for (let file of files) {
                        %>
                            <tr class="searcheable">
                                <td><a href="<%= file.link %>"><%= file.name %></a></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>

<script>
    const input = document.querySelector('input');
    const searcheable = document.getElementsByClassName('searcheable')

    input.addEventListener('input', updateValue);

    function updateValue(e) {
        const value = e.target.value;
        for (const line of searcheable) {
            line.hidden = !line.innerText.toLowerCase().includes(value.toLowerCase());
        }
    }
</script>
